Repository nezia1/missive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_unit_tests, flutter_unit_tests

.gitlab-ci.yml:

image: python:3.10-bullseye

stages:
  - test
  - build
  - deploy

variables:
  PIP_CACHE_DIR: '$CI_PROJECT_DIR/.cache/pip'

.prepare_python_docs: &prepare_python_docs
  - cd documentation
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip
  - pip install -r requirements.txt

server_unit_tests:
  image: node:latest
  stage: test
  services:
    - name: postgres:13
      alias: db
  variables: 
    POSTGRES_USER: test
    POSTGRES_PASSWORD: test
    DATABASE_URL: postgres://test:test@db:5432/test
    COOKIE_SECRET: test
  before_script:
    - cd server
    - npm install
    - npx prisma generate
    - npx prisma migrate deploy
    - npx prisma db seed
    - openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048
    - openssl rsa -pubout -in private_key.pem -out public_key.pem
  script:
    - npm test
  artifacts:
    reports:
      junit: server/report.xml
  rules:
    - changes:
      - server/**/*

    

flutter_unit_tests:
  image: ghcr.io/cirruslabs/flutter:3.19.6
  stage: test
  script:
    - cd client
    - flutter pub get
    - dart pub global activate junitreport
    - flutter test --machine | dart pub global run junitreport:tojunit --output junit-report.xml
  artifacts:
    when: always
    reports:
      junit: client/junit-report.xml
  cache:
    key: "${CI_COMMIT_REF_SLUG}"
    paths:
      - .pub-cache/
  rules:
    - changes:
      - client/**/*

build_flutter_docs:
  image: ghcr.io/cirruslabs/flutter:3.19.6
  stage: build
  cache:
    key: '${CI_COMMIT_REF_SLUG}-dart'
    paths:
      - .pub-cache
  script:
    - cd client
    - dart doc --output='public'
  artifacts:
    paths:
      - client/public

build_mkdocs:
  stage: build
  cache:
    key: '${CI_COMMIT_REF_SLUG}-mkdocs'
    paths:
      - '.cache/pip'
  variables:
    ENABLE_PDF_EXPORT: 1
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_FORCE_HTTPS: 'true'
  script:
    - *prepare_python_docs
    - 'mkdocs build --verbose --site-dir public'
  artifacts:
    paths:
      - documentation/public
  dependencies:
    - build_flutter_docs

pages:
  stage: deploy
  script:
    - mkdir -p public/client-api
    - if [ -d documentation/public ]; then cp -r documentation/public/* public/; fi
    - if [ -d client/public ]; then cp -r client/public/* public/client-api/; fi
  artifacts:
    paths:
      - public

add more comments
  client/lib/features/encryption/secure_storage_identity_key_store.dart
  client/lib/features/encryption/secure_storage_pre_key_store.dart
  client/lib/features/encryption/secure_storage_session_store.dart
Due: flutter_unit_tests

comment more signal implementation
  client/lib/features/encryption/namespaced_secure_storage.dart
  client/lib/features/encryption/secure_storage_signed_pre_key_store.dart
Due: flutter_unit_tests

move unit tests to their own directory
  client/test/encryption/secure_storage_identity_key_store_test.dart
  client/test/encryption/secure_storage_identity_key_store_test.mocks.dart
  client/test/encryption/secure_storage_pre_key_store_test.dart
  client/test/encryption/secure_storage_pre_key_store_test.mocks.dart
  client/test/encryption/secure_storage_session_store_test.dart
  client/test/encryption/secure_storage_session_store_test.mocks.dart
  client/test/encryption/secure_storage_signed_pre_key_store_test.dart
  client/test/encryption/secure_storage_signed_pre_key_store_test.mocks.dart
Due: flutter_unit_tests

comment server
  server/index.ts
  server/src/api/v1/routes/keys.ts
  server/src/api/v1/routes/messages.ts
  server/src/api/v1/routes/tokens.ts
  server/src/api/v1/routes/users.ts
  server/src/app.ts
  server/src/constants.ts
  server/src/errors.ts
  server/src/globals.d.ts
  server/src/hooks.ts
  server/src/jwt.ts
  server/src/permissions.ts
  server/src/utils.ts
Due: server_unit_tests

adapt code to be more testable
  server/package-lock.json
  server/package.json
  server/src/api/v1/routes/keys.ts
  server/src/api/v1/routes/messages.ts
  server/src/api/v1/routes/users.ts
  server/src/app.ts
  server/src/constants.ts
  server/src/hooks.ts
  server/src/plugins/prisma.ts
Due: server_unit_tests

update tokens unit tests to use mocks for Prisma
  server/package-lock.json
  server/package.json
  server/src/__mocks__/prisma.ts
  server/src/api/v1/routes/tokens.test.ts
  server/src/api/v1/routes/tokens.ts
  server/src/app.ts
  server/src/plugins/prisma.ts
  server/src/prisma.ts
  server/src/results.xml
  server/vitest.config.ts
Due: server_unit_tests

rename junit file to report.xml
  server/package.json
Due: server_unit_tests

remove empty test
  server/src/api/v1/routes/users.test.ts
Due: server_unit_tests

remove --root
  server/package.json
Due: server_unit_tests

add PUT /tokens tests
  server/src/api/v1/routes/tokens.test.ts
Due: server_unit_tests

type users
  server/src/api/v1/routes/users.ts
Due: server_unit_tests

add hooks tests
  server/src/hooks.test.ts
  server/src/hooks.ts
  server/src/jwt.ts
Due: server_unit_tests

force forking to avoid using up all cpu (https://github.com/vitest-dev/vitest/issues/3077)
  server/vitest.config.ts
Due: server_unit_tests

add authorizationHook tests
  server/src/hooks.test.ts
Due: server_unit_tests

remove results
  server/src/results.xml
Due: server_unit_tests

add tests for websocket server
  server/src/constants.ts
  server/src/websocket/index.test.ts
  server/src/websocket/index.ts
Due: server_unit_tests

run dart fix
  client/lib/features/chat/screens/conversations_screen.dart
  client/lib/main.dart
  client/pubspec.lock
Due: flutter_unit_tests

make only one replica
  docker-compose.prod.yml
Due: none

simplify settings
  .vscode/settings.json
Due: none

move auth test to missive
  client/pubspec.lock
  client/test/authentication/auth_test.dart
  client/test/authentication/auth_test.mocks.dart
Due: flutter_unit_tests

fix unit tests with new code
  client/test/authentication/auth_test.dart
Due: flutter_unit_tests

update README
  client/README.md
Due: flutter_unit_tests
